{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {% if object.image %}
                    <img class="card-img-top" src="{{ object.image| mymedia }}"
                         style="max-width: 600px; max-height: 400px">
                    {% else %}
                    <img src="/media/blog/dd70ce88-0468-427b-9b4b-e3b4b4ddf6f0.jpeg"
                         style="max-width: 400px; max-height: 180px">
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить блог"{{ object }}"</p>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'blog:blog_detail' object.pk %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}