{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Статья</h1>
    <h3 class="lead">{{ object.title }} ({{ object.slug }})</h3>
</div>

<div class="container">

    <div class="row text-center">
        <div class="col">
            <div class="card box-shadow">

                <div class="card-header">
                    {% if object.image %}
                    <img class="card-img-top" src="{{ object.image| mymedia }}"
                         style="max-width: 600px; max-height: 400px">
                    {% else %}
                    <img src="/media/blog/dd70ce88-0468-427b-9b4b-e3b4b4ddf6f0.jpeg"
                         style="max-width: 400px; max-height: 180px">
                    {% endif %}


                </div>
                <div class="card-body">
                    <p> {{ object.content }}</p>
                    <a class="btn btn-lg btn-block btn-outline-warning"
                       href="{% url 'blog:blog_update' object.pk %}"
                       role="button">Изменить</a>
                    <a class="btn btn-lg btn-block btn-outline-danger"
                       href="{% url 'blog:blog_delete' object.pk%}"
                       role="button">Удалить</a>
                    <a href="{% url 'blog:blog_views' %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Назад</a>
                    <p class="card-text">
                        <small class="text-muted">Просмотры: {{ object.views_count }}</small>
                    </p>
                </div>

            </div>
        </div>
    </div>

    {% endblock %}