<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Супермаркет "Халява"</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:category_list' %}">Категории</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_views' %}">Блог</a>
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' user.pk %}">Профиль</a>
        <a class="p-2 btn btn-outline-danger" href="{% url 'users:logout' %}">Выйти</a>
        Вы зашли под профилем: {{ user.email }}
        {% else %}
        <a class="p-2 btn btn-outline-warning" href="{% url 'users:login' %}">Вход</a>
        <a class="p-2 btn btn-outline-warning" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
    </nav>
</div>