{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Магазин дешевых цен</h1>
    <p class="lead">Покупай в один клик - экономь на низких ценах</p>
</div>

<div class="container">

    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.images| mymedia }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price }} руб.</h1>
                    <p> {{ product.description | truncatechars:100 }}</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:prod_list' product.pk %} "
                       role="button">Подробнее</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}