{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список категорий продуктов</h1>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card-body">
                <ul>
                    {% for category in object_list %}
                    <li>
                        <h2>{{ category }}</h2>
                    </li>
                    {% endfor %}
                </ul>


                <a class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'catalog:product_views' %}"
                   role="button">Назад</a>

            </div>

        </div>
    </div>
</div>

{% endblock %}