{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">

    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">{{ object.name }}</h1>
                </div>

                <div class="card-body">
                    {% if object.images %}
                    <img class="card-img-top" src="{{ object.images| mymedia }}"
                         style="max-width: 600px; max-height: 400px">
                    {% else %}
                    <img src="/media/product/dd70ce88-0468-427b-9b4b-e3b4b4ddf6f0.jpeg"
                         style="max-width: 400px; max-height: 190px">
                    {% endif %}

                    {% if not object.price %}
                    <h1 class="card-title pricing-card-title">Не указано</h1>
                    {% else %}
                    <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                    {% endif %}
                    <p> {{ object.description }}</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-success">Купить</button>
                    {% if perms.catalog.can_edit_is_published and perms.catalog.can_edit_description and perms.catalog.can_edit_category or object.owner == user or user.is_superuser %}
                    <a class="btn btn-lg btn-block btn-outline-warning"
                       href="{% url 'catalog:product_update' object.pk %} "
                       role="button">Изменить</a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a class="btn btn-lg btn-block btn-outline-danger"
                       href="{% url 'catalog:product_delete' object.pk %} "
                       role="button">Удалить</a>
                    {% endif %}
                    <a href="{% url 'catalog:product_views' %}" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Назад</a>

                </div>

            </div>
        </div>
    </div>

    {% endblock %}